<a [routerLink]="'/'">
    <button type="button" class="btn btn-secondary col m-1">
      <i class="fas fa-long-arrow-alt-left"></i> Go back to the list
    </button>
</a>
<app-customer [customer]="currentCustomer"></app-customer>