<div class="text-center">
  <h4>IFTS course, Second Project Work, Customer's APP</h4>
  <h5>developed by:<br>Albi Manuela (Backend), Benzi Jacopo (Backend), Tamburini Lorenzo(Frontend)</h5>
  <br><br>
  <router-outlet></router-outlet>
</div>