<div class="row">

    <!-- <button type="button" class="btn btn-dark col m-1"
            (click)="onPaginaIniziale()"
            [disabled]="currentCustomerPage == null ||currentCustomerPage.prev_page_url == null"
            >First<br>Page</button> -->
  
    <!-- <button type="button" class="btn btn-primary col m-1"
            (click)="onPaginaPrecedente()"
            [disabled]="currentCustomerPage == null || currentCustomerPage.prev_page_url == null"
            >Previous<br>Page</button>
  
    <button type="button" class="btn btn-primary col m-1"
            (click)="onPaginaSuccessiva()"
            [disabled]="currentCustomerPage == null || currentCustomerPage.next_page_url == null"
            >Next<br>Page</button> -->
  
    <!-- <button type="button" class="btn btn-dark col m-1"
            (click)="onPaginaFinale()"
            [disabled]="currentCustomerPage == null ||currentCustomerPage.next_page_url == null"
            >Last<br>Page</button> -->
  
  </div>
  <br>
  <h6 class="text-center">Customer's List</h6>
  <br>
  
  
  <!-- <ul class="mt-4" *ngIf="customerList != null">
    <li *ngFor="let customer of customerList">
      
      <a [routerLink]="'/customers/' + getId(customer)"
         >{{ customer.name }}</a>
  
    </li>
</ul> -->

<div class="row justify-content-around">
        <div class="col-4" *ngFor="let customer of customerList">
                <div class="card bg-light rounded-pill"  *ngIf="customerList != null">
                        <div class="card-body" [routerLink]="'/customers/' + getId(customer)">
                                <div class="card-text" >{{ customer.name }}</div>
                        </div>
                </div>
        </div>
</div>


  