<!-- <div class="mt-3" *ngIf="customer != null">
    <b>Name:</b>  {{ customer.name }} <br>
    <b>City:</b> {{ customer.city }} <br>
    <b>E-mail:</b> {{ customer.email }} <br>
    <b>Phone:</b> {{ customer.phone }} <br>
    <b>Age:</b> {{ customer.age }} <br>
  
  </div> -->

<div class="row justify-content-around" *ngIf="customer != null">
  <div class="card text-white bg-primary mb-3 rounded-pill" style="max-width: 18rem;">
    <div class="card-body">
      <p class="card-text">

        <b>Name:</b> {{ customer.name }} <br>
        <b>City:</b> {{ customer.city }} <br>
        <b>E-mail:</b> {{ customer.email }} <br>
        <b>Phone:</b> {{ customer.phone }} <br>
        <b>Age:</b> {{ customer.age }} <br>
      </p>
    </div>
  </div>
</div>